.modal-popup {

  .modal-overlay {
    @include vendor('flex-grow', '1');
    @include vendor('flex-shrink', '1');
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    @include vendor('flex-direction', 'column');
    @include vendor('transition', (
      'opacity #{_duration(modal)} ease-in-out'
    ));
  
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparentize(_palette(bg-alt), 0.15);
  
    opacity: 0;
    z-index: 1000;
  
    &.after-open {
      opacity: 1;
    }
  
    &.before-close {
      opacity: 0;
    }
  }
  
  .modal-content {
    @include vendor('transition', (
      'opacity #{_duration(modal)} ease-in-out',
      'transform #{_duration(modal)} ease-in-out'
    ));
    @include vendor('transform', 'translateY(0.25rem)');
    @include padding(2.5rem, 2.5rem);
    position: relative;
    width: 30rem;
    max-width: 100%;
    background-color: transparentize(_palette(bg), 0.15);
    
    border-radius: _size(border-radius);
    border: solid _size(border-width) _palette(border);
    margin-bottom: _size(element-margin);
    padding: 1.5em;
  
    > :last-child,
    > :last-child > :last-child,
    > :last-child > :last-child > :last-child {
      margin-bottom: 0;
    }
  
    opacity: 0;
  
    &.after-open {
      @include vendor('transform', 'translateY(0)');
      opacity: 1;
    }
  
    &.before-close {
      @include vendor('transform', 'translateY(0.25rem)');
      opacity: 0;
    }
  }

}