$nate-size: 52px;
$bullet-size: 35px 9px;
$bullet-burst-size: 17px;

@mixin sprite-rendering {
  image-rendering: -moz-crisp-edges; // Firefox
  image-rendering: -o-crisp-edges; // Opera
  image-rendering: -webkit-optimize-contrast; // Webkit (non-standard naming)
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; // IE (non-standard property)
}

@mixin sprite-frame($nate-size, $frame-x, $frame-y) {
  @if length($nate-size) == 1 {
    background-position: ($frame-x * -$nate-size) ($frame-y * -$nate-size);
  }
  @else {
    $width: nth($nate-size, 1);
    $height: nth($nate-size, 2);
    background-position: ($frame-x * -$width) ($frame-y * -$height);
  }
}

@mixin sprite-row($height, $row) {
  background-position-y: nth($height, 1) * -$row;
}

@mixin sprite-col($width, $col) {
  background-position-x: nth($width, 1) * -$col;
}

@keyframes run-cycle {
  0% { @include sprite-col($nate-size, 0); }
  100% { @include sprite-col($nate-size, 6); }
}

@keyframes jump-cycle {
  0% { @include sprite-col($nate-size, 0); }
  100% { @include sprite-col($nate-size, 1); }
}

@keyframes fall-cycle {
  0% { @include sprite-col($nate-size, 3); }
  100% { @include sprite-col($nate-size, 4); }
}

@keyframes bullet-flight {
  0% { @include sprite-row(nth($bullet-size, 2), 0); }
  100% { @include sprite-row(nth($bullet-size, 2), 3); }
}

@keyframes bullet-burst {
  0% { @include sprite-row($bullet-burst-size, 0); }
  100% { @include sprite-row($bullet-burst-size, 1); }
}

.nate-container {
  overflow: visible !important;
  margin: 0px (-1 * _size(element-margin));
  position: relative;
  margin-top: 4rem;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    z-index: 0;

    position: relative;
    border: 1px solid #004A7F;
    background-color: #0094FF;
  }

  .nate-sprite {
    $offset: 'translate(-26px, 5px)';

    @include sprite-rendering;
    width: $nate-size;
    height: $nate-size;
    position: absolute;
    z-index: 3;
    background: url('/static/images/nate-game/nate_sprite.png');
    @include vendor('transform', $offset);
  
    &.idle {
      @include sprite-frame($nate-size, 0, 0);
  
      &.look-up { @include sprite-frame($nate-size, 1, 0); }
  
      &.shoot-up {
        @include sprite-frame($nate-size, 4, 0);
        &.recoil { @include sprite-frame($nate-size, 5, 0); }
      }
  
      &.shoot-side {
        @include sprite-frame($nate-size, 2, 0);
        &.recoil { @include sprite-frame($nate-size, 3, 0); }
      }
  
      &.land {
        @include sprite-frame($nate-size, 5, 4);
        &.shoot-side { @include sprite-frame($nate-size, 5, 5); }
        &.shoot-up { @include sprite-frame($nate-size, 5, 6); }
        &.shoot-down { @include sprite-frame($nate-size, 5, 7); }
      }
    }
  
    &.run {
      @include sprite-row($nate-size, 1);
      @include vendor('animation', 'run-cycle 0.75s steps(6) infinite');
      &.shoot-side { @include sprite-row($nate-size, 2); }
      &.shoot-up { @include sprite-row($nate-size, 3); }
    }
  
    &.jump {
      @include sprite-row($nate-size, 4);
      @include vendor('animation', 'jump-cycle 0.125s steps(1) 1 forwards');
  
      &.apex {
        @include vendor('animation', 'none');
        @include sprite-col($nate-size, 2);
      }
  
      &.fall { @include vendor('animation', 'fall-cycle 0.125s steps(1) 1 forwards'); }
  
      &.shoot-side { @include sprite-row($nate-size, 5); }
      &.shoot-up { @include sprite-row($nate-size, 6); }
      &.shoot-down { @include sprite-row($nate-size, 7); }
    }
  
    &.mirror { @include vendor('transform', '#{$offset} scale(-1.0, 1.0)'); }
  }

  .bullet-sprite {
    $half-width: ceil(nth($bullet-size, 1) * 0.5);
    $half-height: ceil(nth($bullet-size, 2) * 0.5);
    $offset: 'translate(-#{$half-width}, #{$half-height})';

    @include sprite-rendering;
    width: nth($bullet-size, 1);
    height: nth($bullet-size, 2);
    position: absolute;
    z-index: 4;
    background: url('/static/images/nate-game/bullet_sprite.png');
    @include vendor('transform-origin', '#{$half-width $half-height}');
    @include vendor('transform', $offset);
    @include sprite-col(nth($bullet-size, 1), 0);
    @include vendor('animation', 'bullet-flight 0.375s steps(3) infinite');
    
    &.mirror { @include vendor('transform', '#{$offset} scale(-1.0, 1.0)'); }
    &.shot-up { @include vendor('transform', '#{$offset} rotate(-90deg)'); }
    &.shot-down { @include vendor('transform', '#{$offset} rotate(90deg)'); }

    &.forming {
      @include vendor('animation', 'none');
      @include sprite-row(nth($bullet-size, 2), 2);
    }
  }
  
  .bullet-burst-sprite {
    $half-size: ceil($bullet-burst-size * 0.5);

    @include sprite-rendering;
    width: $bullet-burst-size;
    height: $bullet-burst-size;
    position: absolute;
    z-index: 4;
    background: url('/static/images/nate-game/bullet_burst_sprite.png');
    @include vendor('transform', 'translate(-#{$half-size}, #{$half-size})');
    @include vendor('animation', 'bullet-burst 0.075s steps(1) 1 forwards');
  }

  .despawned { display: none; }
}